{# rct_theme_switcher.html.twig
   Bundle: alle Header-Controls für das Standard-Layout.
   Einzelne Controls liegen in _rct_ctrl_*.html.twig
#}
<div class="header-controls">
    {{ include('@!_rct_ctrl_nav_toggle.html.twig') }}
    {{ include('@!_rct_ctrl_search.html.twig') }}
    {{ include('@!_rct_ctrl_login.html.twig') }}
    {{ include('@!_rct_ctrl_fullscreen.html.twig') }}
    {{ include('@!_rct_ctrl_theme.html.twig') }}
    {{ include('@!_rct_ctrl_right_toggle.html.twig') }}
    {{ include('@!_rct_ctrl_layout.html.twig') }}
</div>
